body {
            font-family: Arial;
            font-size: 16px;
            line-height: 19px;
        }
        /* Generic */
        
        h1:first-child,
        h2:first-child,
        h3:first-child,
        h4:first-child,
        p:first-child {
            margin-top: 0;
        }
        
        .clearer {
            clear: both;
        }
        
        .text-center {
            text-align: center;
        }
        
        .no-margin-bottom {
            margin-bottom: 0;
        }
        
        .bg-tangerine {
            background-color: #eb8c00;
        }
        
        .bg-orange {
            background-color: #dc6900;
        }
        
        .bg-red {
            background-color: #e0301e;
        }
        
        .bg-rose {
            background-color: #db536a;
        }
        
        .bg-burgundy {
            background-color: #a32020;
        }
        
        .bg-maroon {
            background-color: #602320;
        }
        
        .bg-grey {
            background-color: #9686cd;
        }
        
        .bg-black {
            background-color: #6d6a71;
        }
        /* END Generic */
        
        .talent-wrapper {
            width: 1200px;
            position: relative;
        }
        
        .talent-wrapper .h1,
        .talent-wrapper .h2,
        .talent-wrapper .p{
            display: block;
            margin-bottom: 10px;
        }
        
        .talent-wrapper .p{
            font-family: Arial;
            font-size: 16px;
            line-height: 19px;
        }
        
        .talent-wrapper .row {
            margin-bottom: 5px;
            display: table;
            clear: both;
            content: "";
            width: 100%;
        }
        
        .talent-wrapper .row:after {
            content: "";
            clear: both;
            margin-bottom: 5px;
        }
        
        .talent-wrapper .row .col {
            float: left;
            margin-right: 5px;
            box-sizing: border-box;
        }
        
        .talent-wrapper .row .col:last-child {
            margin-right: 0;
        }
        
        .talent-wrapper .row .col p {
            font-family: Arial;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 21px;
        }
        
        .talent-wrapper .row.row-4 .col:last-child {
            width: 23.7% !important;
        }
        
        .talent-wrapper .row.row-4 .col {
            width: 25%;
        }
        
        .talent-wrapper .bg-solid,
        .talent-wrapper .bg-solid a,
        .talent-wrapper .bg-solid p a,
        .talent-wrapper .bg-solid h2 a {
            color: #fff !important;
        }
        /* Banner */
        
        .talent-wrapper .banner {
            width: 1200px;
            height: 285px;
            position: relative;
        }
        
        .talent-wrapper .banner .content {
            z-index: 1;
            position: relative;
            padding: 20px;
        }
        
        .banner h1 {
            color: #FFF;
            font-family: Georgia;
            font-style: italic;
            font-weight: bold;
            font-size: 38px;
            width: 430px;
            line-height: 42px;
        }
        
        .talent-wrapper .banner h1 span {
            display: block;
            font-weight: normal;
        }
        
        .talent-wrapper .banner img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        
        .talent-wrapper .banner .tile {
            position: absolute;
            left: 340px;
            width: 650px;
            background-color: rgba(150, 140, 109, 0.7);
            padding: 20px;
            color: #FFF;
            font-family: Georgia;
            font-size: 19px;
            line-height: 25px;
            top: 90px;
        }
        /* END Banner */
        /* START Boxes */
        
        .talent-wrapper a.box,
        .talent-wrapper a.box .h2,
        .talent-wrapper a.box .p {
            text-decoration: none !important;
        }
        
        .talent-wrapper .box {
            padding: 15px;
            box-sizing: border-box;
            width: 100%;
            position: relative;
            display: block;
        }
        
        .talent-wrapper .box.box-match-height {
            min-height: 420px;
        }
        
        .talent-wrapper .box .h2 {
            font-family: Georgia;
            font-style: italic;
            font-weight: normal;
            font-size: 22px;
            line-height: 27px;
        }
        
        .talent-wrapper .row.row-4 .col.box .h2 {
            width: 170px;
            float: left;
            margin-bottom: 10px;
        }
        
        .talent-wrapper .row.row-4 .col.box span.icon {
            float: right;
            width: 62px;
        }
        
        .talent-wrapper .box span.icon-right {
            position: absolute;
            right: 15px;
            top: -5px;
        }
        /* END Boxes */